  <app-template [(value)]="ctx">
    <div *appTemplateRef="let value">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="title"
      />
      {{title}}
    </div>
    <!-- <ng-template let-value="estimate">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [value]="value"
      />
    </ng-template> -->
    <!-- <ng-template #input let-value="estimate">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [value]="value"
      />
    </ng-template> -->
    <!-- <ng-template #text>
      <label for="exampleInputEmail1">Email address</label>
    </ng-template> -->
  </app-template>
<pre>{{ctx | json}}</pre>